/* Padding and font style */
#myTable td, #myTable th {
    padding: 5px 5px;
    font-size: 12px;
    font-weight: bold;
}
#word {
    background-color: red;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

#excel {
    background-color: blue;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
